@using System.Collections.Specialized
@model SWC_LMS.Models.Views.TeacherViewModel
@{
    ViewBag.Title = "GetThisCourse";
    var courseId = ViewBag.courseId;
    <style>
        fieldset.scheduler-border {
            border: 2px groove #ddd !important;
            padding: 0 1.4em 1.4em 1.4em !important;
            margin: 0 2em 1.5em 0 !important;
            -webkit-box-shadow: 0px 0px 0px 0px #000;
            box-shadow: 0px 0px 0px 0px #000;
        }
        .header {
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif ;
            font-size: 18px;
        }
    </style>
}
<div class="container col-md-12">
    <h2>@Model.CourseName</h2>
    <div>
        @Html.ActionLink("Information", "GetThisCourse", "teacher", new { id = @courseId }, new { style = "text-decoration:underline;  1px" })
        <span>|</span>
        @Html.ActionLink("Roster", "roster", "teacher", new { id = @courseId }, new { id = Model.CourseId, style = "text-decoration-underline: 1px" })
        <span>|</span>
        @Html.ActionLink("Gradebook", "gradebook", "teacher", new { id = @courseId }, new { style = "text-decoration-underline: 1px" })
    </div>
    <div class="row col-md-7">
    <label class="header">Information</label>
        @using (Html.BeginForm("EditCourse", "Teacher", FormMethod.Post, new { course = Model }))
            {
                <fieldset class="scheduler-border">
                    <br/>

                    <div class="row col-md-12">
                        <div class="col-md-6">
                            <label size="14">Class Name</label>
                            @Html.TextBoxFor(m => m.CourseName, new {style = "width: 200px"})
                        </div>
                        <div class="col-md-4">
                            <label>Grade Level</label>
                            @Html.DropDownListFor(m => m.GradeLevel, Model.GradeLevelList, new {style = "height: 27px"})
                        </div>
                        <div class="col-md-2">
                            <label>Archive</label>
                            @Html.CheckBoxFor(m => m.IsArchived)
                        </div>
                    </div>
                    <br/>
                    <div class="row col-md-12">
                        <div class="col-md-6">
                            <label>Subject</label>
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.SubjectId, Model.SubjectList, new {style = "height: 27px; width: 200px"})
                            </div>
                            <label>Start Date</label>
                            <div class="form-group">
                                <div>
                                    @Html.EditorFor(m => m.StartDate, new {htmlAttributes = new {@class = "datepicker", style = "width:75px"}})
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                            <label>End Date</label>
                            <div class="form-group">
                                <div>
                                    @Html.EditorFor(m => m.EndDate, new {htmlAttributes = new {@class = "datepicker", style = "width:75px"}})
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label >Description</label>
                            @Html.TextAreaFor(m => m.CourseDescription, new {style = "height: 200px; width: 250px"})
                        </div>
                    </div>
                    <br/>
                    @Html.HiddenFor(m => m.CourseId)
                    <br/>
                    <div class="row">
                        <div class="col-md-9"></div>
                        <div class="row col-md-3">
                            <div>
                                @Html.ActionLink("cancel", "TeacherDashboard", "Teacher", new {id = Model.UserId}, null)
                                <span>&nbsp;</span>
                                <button type="submit" class="btn-default" style="text-align: right">Save</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            }
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4" style="margin-left: 40px">
        <label class="header">Analytics</label>
        <fieldset class="scheduler-border" style="height: 407px; width: 500px; margin-right: 30px">
            <label style="padding-top: 15px;">Total Students</label>
            <div></div>
            <div class="row">
                <label class="col-md-2" style="padding-right: 0;">By Grade</label>
                <div class="col-md-1">
                    <ul style="padding-left: 0;list-style-type: none">
                        <li>A-</li>
                        <li>B-</li>
                        <li>C-</li>
                        <li>D-</li>
                        <li>F-</li>
                    </ul>
                </div>
            </div>
        </fieldset>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/app/TeacherScripts.js"></script>
    @Scripts.Render("~/bundles/jqueryui")
}
